.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_container {
  align-self: flex-end;
}

.button {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 8px;
  color: var(--color-bg);
}
