.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_container {
  align-self: flex-end;
}

.button {
  display: flex;
  align-items: center;
}
