.layout {
  display: flex;
  height: 100vh;
  color: var(--color-text);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: var(--color-bg);
  overflow-y: auto;
}
