.link {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 14px 0;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d1d5db;
  transition: color 0.2s;
  position: relative;
}

.icon {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  position: absolute;
  left: 70px;
  background-color: #111;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-10px);
  transition:
    opacity 0.15s ease,
    transform 0.2 ease;
}

.link:hover .tooltip {
  opacity: 1;
  transform: translateX(0);
}

.link:hover .icon {
  color: var(--color-primary);
}

.active .icon {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .tooltip {
    display: none;
  }

  .icon {
    font-size: 24px;
  }
}
