.sidebar {
  width: 80px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0 40px;
  border-right: 1px solid #111;
}

.nav_items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

.github {
  color: #d1d5db;
  transition: color 0.2s;
}

.github:hover {
  color: var(--color-primary);
}

.version {
  font-size: 13px;
  color: #6b7280;
}
