.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.info-container {
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  background-color: var(--color-card);
  padding: 24px;
  box-sizing: border-box;
  border-radius: 12px;
}

.line {
  margin: 50px 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-border);
}
