.card {
  background-color: var(--color-card);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: box-shadow 0.2s;
}

.card p {
  margin-bottom: 0;
}
