.header {
  height: 60px;
  background-color: #1f2937;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header p {
  margin-bottom: 0;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-primary);
  text-transform: uppercase;
}

.section {
  font-size: 28px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user p {
  font-size: 15px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
