.container {
  max-width: 450px;
  margin: 0 auto;
  height: 100vh;
  padding: 40px 20px;
  text-align: center;
}

.logo {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 40px;
}

/* ----- TABS ----- */

.tabs {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

.tab {
  background: none;
  border: none;
  font-size: 16px;
  padding: 6px 4px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
}

.activeTab {
  opacity: 1;
}

.tabUnderline {
  position: absolute;
  bottom: -2px;
  height: 3px;
  width: 60px;
  border-radius: 99px;
  background: #4f46e5;
}

/* ----- FORM ----- */

.formWrapper {
  min-height: 220px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form__item {
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.button {
  margin-top: 8px;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* ----- DEMO ----- */

.demoSection {
  margin-top: 30px;
}

.demoInfo {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 12px;
}

.demoButton {
  padding: 10px 16px;
  border-radius: 10px;
  border: 1px solid #4f46e5;
  color: #4f46e5;
  background: none;
  cursor: pointer;
}

/* --------------------------
   Floating Label Input
--------------------------- */
.floatingGroup {
  position: relative;
  width: 100%;
}

.floatingInput {
  width: 100%;
  padding: 12px 14px;
  font-size: 15px;
  border: 1px solid #cfcfe6;
  border-radius: 10px;
  background: white;
  color: #333;
  transition: border 0.25s ease, box-shadow 0.25s ease, background 0.25s ease;
}

/* Fokus */
.floatingInput:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 6px rgba(79, 70, 229, 0.35);
  background: #fff;
}

/* Label */
.floatingLabel {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  pointer-events: none;

  font-size: 15px;
  color: #888;

  padding: 0 6px;
  transition: 0.25s ease;
}

/* Animacja wysuwania */
.floatingInput:focus + .floatingLabel,
.floatingInput:not(:placeholder-shown) + .floatingLabel {
  top: -8px;
  left: 12px;
  font-size: 12px;
  color: #4f46e5;
}

.inputError {
  border-color: #e11d48 !important;
  box-shadow: 0 0 5px rgba(225, 29, 72, 0.3);
}

.errorList {
  color: #e11d48;
  text-align: left;
  font-size: 14px;
  margin-top: -10px;
  line-height: 1.3;
}
