.card {
  background-color: var(--color-card);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: box-shadow 0.2s;
}

.card p {
  margin-bottom: 0;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text);
}

.created,
.frequency,
.weekly,
.progress,
.not-progress {
  font-size: 14px;
  color: var(--color-text-secondary);
}

.progress {
  color: var(--color-success);
}

.not-progress {
  color: var(--color-error);
}

.button_container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.button_container > button {
  color: var(--color-bg);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s;
  border-radius: 8px;
}

.checkin_btn {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 6px;
}

.edit_btn {
  background-color: var(--color-secondary);
}

.checkin_btn:hover:not(:disabled) {
  background-color: var(--color-secondary);
}

.checkin_btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.completed {
  background-color: var(--color-success);
  color: var(--color-bg);
}

.icon {
  display: inline-block;
}
